<?xml version="1.0"?>
<model>
  <name>vertical_camera</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Moisés Moreira Gonçalves Feltrin Thimoteo</name>
   <email>moisesmgft@gmail.com</email>
  </author>

  <description>
    Horizontal camera for X500 drone.
  </description>
</model>
